<div class="card">
    <div class="card-header">
    <h1>LA SUPER TEAM DU TURFU</h1>
    </div>
    
    <div class="card-deck">
      <div class="card">
        <img src="https://media.giphy.com/media/dchERAZ73GvOE/giphy.gif" class="card-img-top" alt="..." height="200">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">THEO</h5>
          <p class="card-text text-center">Le plus jeune de nos moussaillons et le seul représentant masculin</p>
        </div>
      </div>

      <div class="card">
        <img src="https://media.giphy.com/media/EatwJZRUIv41G/giphy.gif" class="card-img-top" alt="..." height="200">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">LILAS</h5>
          <p class="card-text text-center">Jeune lilloise passionée d'agriculture & de Pandas.</p>
        </div>
      </div>

      <div class="card">
        <img src="https://media.giphy.com/media/vSoXkKBccEQRq/giphy.gif" class="card-img-top" alt="..." height="200">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">MAHAUT</h5>
          <p class="card-text text-center">Fraichement débarquée sur Lille pour profiter du beau temps.</p>
        </div>
      </div>

      <div class="card">
        <img src="http://giphygifs.s3.amazonaws.com/media/1EnVAKJGFjoM8/giphy.gif" class="card-img-top" alt="..." height="200">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">OMA</h5>
          <p class="card-text text-center">Notre utlime moussaillone toujours présente!</p>
        </div>
      </div>
    </div>
  </div>