<div class="card">
  <div class="card-header">
  <h1>Tu veux contacter notre équipe de de folie? </h1>
  </div>
    <div class="card-body"> 
      <p> </p>
      <h4>Pendant la période estivale nous tenons une permanance en Laponie au village du père noel.</br>
      Sinon, tu peux nous contacter à l'adresse lilas.allard@gmail.com</h4>
    </div>

    <div class="text-center">
      <p class="font-weight-bold text-info">A TON CLAVIER !!</p>
      <img src="  https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" class="rounded" alt="...">
    </div>
  
  </div>
